<div class="bg-login">
    <div class="container">
      <div class="row">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Login Dizimo</strong>
            </div>
            <div class="panel-body">
                <fieldset>
                  <div class="row">
                    <div class="text-center fieldset-dizimo">
                      <img class="profile-img"  src="../../assets/img/dizimo.jpg">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input class="form-control"  placeholder="Informe seu email"
                              type="email" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                          </span>
                          <input class="form-control"  placeholder="Informe sua senha"
                              type="password">
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" (click)="login()" value="Login">
                      </div>
                    </div>
                  </div>
                </fieldset>
            </div>
            <div class="panel-footer">Não possui cadastro? <a  routerLinkActive="router-link-active" > Cadastre-se agora mesmo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
